# Node dependencies
node_modules/

# Environment files
.env
.env.local

# Logs
*.log

# OS / editor
.DS_Store
.vscode/
.idea/

# Build / coverage
dist/
build/
coverage/

# Next.js build folder
client/.next/
